{
    email {$ACME_EMAIL}
    admin off
}

{$TRAVEL_DOMAIN} {
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000"
    request_body {
        max_size 2KB
    }
    reverse_proxy app:3000
}
